<!DOCTYPE html>
<html>
  <head>
    <title>Kinghills2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.css">
    
    <style>
    .gray{
      background-color: rgb(248, 247, 247);
    }
    </style>
  </head>

  <body>
    <main class="gray">
    <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/subscribe" %>
    <%= render "shared/download_app" %>
    </main>
  </body>
</html>
